<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <!--v-for="(item,index) in list"-->
        <ul>
            <li v-for="(item,index) in list">{{item}}{{:key}}{{index}}</li>
        </ul>
        <ul>
            <li v-for="" (item,index)>

            </li>
        </ul>
    </div>
</body>

</html>
<script src="js/vue.js"></script>
<script>
    new Vue({
        el: "#app",
        data: {
            list: ["香蕉", "火龙果", "阳光玫瑰", "西瓜"],
            person: {
                name: "张三",
                age: 18,
                sex: true,
                phone: "10086"
            },
            students: {
                name: "张三",
                age: 18,

            }
        },
        methods: {

        },
    })
</script>