<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <input type="number" v-model="num1">
        <select v-model="pos">
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="*">*</option>
            <option value="/">/</option>
        </select>
        <input type="number" v-model="num2">
        <input type="button" @click="clickBtn" value="=">
        <input type="text" v-model="num3">
    </div>
</body>

</html>
<script src="js/vue.js"></script>
<script>
    new Vue({
        el: "#app",
        data: {
            num1: "",
            num2: "",
            num3: "",
            pos: ""
        },
        methods: {
            clickBtn() {
                // switch (this.pos) {
                //     case "+":
                //         this.num3 = Number(this.num1) + Number(this.num2);
                //         break;
                //     case "-":
                //         this.num3 = Number(this.num1) - Number(this.num2);
                //         break;
                //     case "*":
                //         this.num3 = Number(this.num1) * Number(this.num2);
                //         break;
                //     case "/":
                //         if (this.num2 == 0){
                //             alert("除数不能为0")
                //             return
                //         }
                //         else
                //             this.num3 = Number(this.num1) / Number(this.num2);
                //         break;
                // }

                //eval() 解析字符串中的运算符
                if (this.num2 == 0 && this.pos == "/") {
                    alert("除数不能为0")
                    return
                }
                this.num3 = eval(this.num1 + this.pos + this.num2)
            }
        },
    })
</script>