*{
    margin: 0;
    padding: 0;
}
#app .wrap{
    margin: 10px auto;
    width: 210px;
    height: auto;
}
#app .wrap a{
    text-decoration: none;
}
#jd{
    color: #999;
    background-color: #dadada;
    padding: 5px;
}
#jd:hover{
    color: #f00;
}
#app .wrap .ulShow{
    list-style: none;
    border: 1px solid #999;
    margin-top: 10px;
}
#app .wrap .ulShow li{
    padding: 8px;
    height: 100px;
    border-bottom: 1px solid #999;
}
#app .wrap .ulShow li .imgs{
    float: left;
    padding: 3px;
    width: 80px;
    border: 1px solid #999;
    margin-top: 5px;
}
#app .wrap .ulShow li .texts{
    float: left;
    margin-left: 8px;
    margin-top: 3px;
}
#app .wrap .ulShow li .texts .icons img{
    float: left;
    width: 25px;
    height: 25px;
    margin-top: 5px;
}
#app .wrap .ulShow li .texts .fir-text{
    font-size: 13px;
    font-family: "等线";
    font-weight: bold;
    color: rgb(53, 53, 53);
    margin-top: 5px;
    margin-bottom: 5px;
}
#app .wrap .ulShow li .texts .under-text{
    margin-top: 5px;
    font-size: 12px;
    color: #f00;
}