<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <input type="text" placeholder="请输入ID" v-model="idIpt" />
        <input type="text" placeholder="请输入姓名" v-model="nameIpt" />
        <button @click="add">添加</button>

        <ul>
            <li v-for="item in list" :key="item.id">
                <input type="checkbox"> {{item.id}}-{{item.name}}
            </li>
        </ul>
    </div>
</body>

</html>
<script src="js/vue.js"></script>
<script>
    new Vue({
        el: "#app",
        data: {
            list: [{
                id: 1,
                name: "张三"
            }, {
                id: 2,
                name: "李四"
            }],
            idIpt: "",
            nameIpt: ""
        },
        methods: {
            add() {
                console.log(this.idIpt, this.nameIpt)
                    //push 向数组末尾添加元素 unshift 向数组前面添加元素
                this.list.push({
                    id: this.idIpt,
                    name: this.nameIpt
                })
            }
        }
    })
</script>